<div class="student-register">
    <mat-card>
        <form [formGroup]="myForm" (ngSumbit)="onSubmit()">
            <div class="mat-title">
                <mat-card-title align="center">Staff Sign in</mat-card-title>
            </div>
            <div>
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="myForm.get('email') && myForm.get('email')?.hasError('required')">
                        email is required
                    </mat-error>
                    <mat-error *ngIf="myForm.get('email') && myForm.get('email')?.hasError('email')">
                        Enter a valid Email ID
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="myForm.get('password') && myForm.get('password')?.hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions style="margin-left:1px">
                <button type="submit" mat-raised-button color="primary">
                    Login in
                </button>
            </mat-card-actions>
            <mat-card-subtitle>Are you a Student, click here to register <a routerLink="register">Register</a></mat-card-subtitle>
        </form>
    </mat-card>
</div>